@charset "UTF-8";

body{
    background-color:darkmagenta;
}

div section {
    background-color: beige;
    margin-top: -1.4%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}

div section p{
    margin: 2% 30% 1% 25%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

div section p#primeiro_p {
    padding-top: 1%;
}


div#menu nav{
    text-align: center;
}

div#menu nav ol{
    background-color: black;
    margin: 0% 10% 1.6% 10%;
    padding: 1%;
}

div#menu nav ol li{
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin:1% 2.9% 1% 2.9%;
    padding:2.8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#menu nav ol li:hover{
    background-color: darkgray;
    transition: 1s;
    padding-top: 1%;
    padding-bottom: 1%;
}

div hgroup h2 {
    margin: 2% 30% 0% 25%;
}

div ul#lista_1 {
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_2 {
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_2 li#top_1{
    margin-left: 2%;
}

div ul#lista_3 {
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_4 {
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_4 li#top_2,
ul#lista_4 li#top_3 {
    margin-left: 2%;
}

div ul#lista_5 {
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_5 li#top_4,
ul#lista_5 li#top_5 {
    margin-left: 2%;
}

div ul#lista_6 {
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_6 li#top_6,
ul#lista_6 li#top_7 {
    margin-left: 2%;
}

div ul#lista_7{
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_7 li#top_8 {
    margin-left: 2%;
}

div ul#lista_8{
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_8 li#top_9,
div ul#lista_8 li#top_10,
div ul#lista_8 li#top_11 {
    margin-left: 2%;
}

div ul#lista_9 {
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

div ul#lista_9 li#top_12,
ul#lista_9 li#top_13 {
    margin-left: 2%;
}

div ul#lista_10 {
    list-style: none;
    margin-left: 26%;
    font-family: Arial, Helvetica, sans-serif;
}

span.blue {
    color: blue
}

span.vermelho {
    color:darkred;
    font-weight: bold;
}

span.vermelho_claro {
    color:red;
    font-weight: bold;
}

span.brown {
    color: brown;
}

div section figure img {
    width: 40%;
    margin: 2% 0% 0% 26.7%;
}

a:visited{
    color: white;
}