@charset "UTF-8";

body{
    background-color:darkmagenta;
}

div#menu nav{
    text-align: center;
}

div#menu nav ol{
    background-color: black;
    margin: 0% 10% 0% 10%;
    padding: 1%;
}

div#menu nav ol li{
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin:1% 2.9% 1% 2.9%;
    padding:2.8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#menu nav ol li:hover{
    background-color: darkgray;
    transition: 1s;
    padding-top: 1%;
    padding-bottom: 1%;
}

section {
    background-color: beige;
    margin-top: -0.6%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}

div section p {
    margin: 2% 30% 2.5% 25%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

div section p#primeiro_p {
    padding-top: 2%;
}

div section figure img {
    width: 40%;
    margin: 2% 0% 0% 26.9%;
}

a:visited{
    color: white;
}
